.App,
#root {
  background-color: #282c34;
  height: 100%;
}

.App-header {
  text-align: center;
  background-color: #20232a;
  height: 100px;
  padding: 20px;
  color: 222;
  color: bisque;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  text-align: center;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  height: 50px;
}

.tooltip {
  height: 50px;
  left: 30px;
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted #20232a;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #282c34;
  color: #fafafa;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}